// .navbar {
//     background-color: #e6591f !important;
// }

// .navbar .links {
//     background-color: #e6591f !important;
// }

.navbar .site-name {
    font-size: 1.6rem !important;
    margin-left: 20px;    
}